BODY {
    background: white;
    color: black;
    font-family: "Arial";
    SCROLLBAR-BASE-COLOR:  #c6d6ee;
    SCROLLBAR-ARROW-COLOR: #000000;
}

TD {font-weight: bold; font-size: 10pt;}

.borders {
	BORDER-RIGHT: #c6d6ee 2px solid; 
	BORDER-TOP: #c6d6ee 2px solid; 
	BORDER-LEFT: #c6d6ee 2px solid; 
	BORDER-BOTTOM: #c6d6ee 2px solid
}

.RED {
	color: red;
	}

.TIMESNEWROMAN {
	font-family: "Times New Roman";
	}

EM { background: yellow; color: black; font-style: normal }
